# Xcode
#
build/
DerivedData/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Xcode Playgrounds and Swift Packages
timeline.xctimeline
playground.xcworkspace
.swiftpm/
Package.resolved

# Obj-C/Swift specific
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Simulator / device screenshots taken during development (kept curated ones live in /Screenshots)
*.trace
